.footer {
  width: 100%;
  margin-top: auto;
  text-align: center;
  line-height: 2.0rem;
  padding: 5rem 0;
  hyphens: auto;
  text-align: justify;
  a {
    color: $home-banner-color;
    &:hover,
    &:active {
      color: $link-color-active;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 0.45em 0;
      a {
        span {
          padding: 0 1.3em;
        }
      }
    }
  }
  .container {
    color: lighten($fg-color, 50%);
    font-style: italic;
    font-size: 90%;
  }
  .footer-icon-container {
    padding: 10rem;
    text-align: center;
  }
  .footer-icon {
    max-height: 20rem;
    border: 30px solid black;
  }
}
