.navigation {
  .container {
    padding-top: 6rem;
    padding-bottom: 0;
  }

  li {
    list-style: none;
  }

  a, span {
    display: inline;
    font-size: 1.6rem;
    font-family: $heading-font-family;
    font-weight: 700;
    color: $fg-color;
  }
  a {
    &:hover,
    &:focus {
      color: $link-color
    }
  }
  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    @media only screen and (max-width : 768px) {
      display: none;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
    .navigation-item {
      margin: 0 0.75rem;
      border-bottom: 4px white solid;
      &:hover {
        border-bottom-color: black;
      }
    }
    .menu-separator {
      @media only screen and (max-width : 768px) {
        border-top: 2px solid $fg-color;
        margin: 0 8.0rem;
        span {
          display: none;
        }
      }
    }
  }
  #menu-toggle {
    display: none;
    @media only screen and (max-width : 768px) {
      &:checked + label {
        color: red;
        fill: red;
        font-weight: bolder;
      }
      &:checked + label + ul {
        display: flex;
        visibility: visible;
        opacity: 1;
        height: unset;
      }
    }
  }
  .menu-button {
    display: none;
    @media only screen and (max-width : 768px) {
      display: inline;
      width: 2.5rem;
      height: 2.5rem;
      float: right;
      font-size: 2.4rem;
      font-weight: 400;
      fill: $fg-color;
      color: $fg-color;
      cursor: pointer;
      &:hover,
      &:focus {
        fill: $link-color;
        color: $link-color
      }
    }
  }
}
