{{/* copied for layout/post/single */}}
{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container">
    <article>
      <header>
        {{ if not .Params.hideTitle }}
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        <div class="post-author">
          {{ if .Params.author }}
            {{ .Params.author }}
          {{ end }}
        </div>
        <div class="post-meta">
          <div class="date">
            {{ if not .Params.hideDate }}
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            {{ end }}
            {{ if not .Params.hideMeta }}
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
            {{ end }}
          </div>
          {{ if not .Params.hideMeta }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
          {{ end }}
        </div>
        {{ end }}
      </header>

      <div>
        {{ .Content }}
      </div>

      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utteranc.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
