<section class="container list {{ .Data.Singular }}">
  <h1 class="title">
    {{- if eq .Kind "taxonomy" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}
  </h1>
  <section class="container">
    <article class="text-content">
    {{ .Content }}
    </article>
  </section>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
      <span class="date">{{ .Date.Format ( .Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        {{ with .Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
        {{ with .Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
      <p>{{ .Summary }}</p>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
